@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Gothic", Sans-Serif;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

body {
  margin: 0;
  background-color: #da1b2b;
}

.nav {
  background-color: #1f1f1f; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.falkelogo {
  height: 40px;
}

.fsvfalke95 {
  font-size: 1.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: strech;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #1f1f1f;
}

.nav li:hover {
  background-color: #da1b2b;
}

.ElfsightWidget {
  margin: 3;
}

.App {
  text-align: center;
}

.container {
  border: solid 1px yellow;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news {
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 2px;
  max-width: 50%;
  height: auto;
}
.articles {
}
.teamfoto {
}

.widgetspielplan {
}
.teamimage {
}

/*LOADER*/

.loader-container {
  margin: 0 auto;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  width: 5vw;
  height: 5vw;
  /* add keyframes */
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*HOME*/

.latest-news-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.latest-news-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 30vh;
  border: 1px solid #000000;
  border-radius: 2px;
}

.latest-news-img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.hero-section {
  border: solid 2px rgb(34, 178, 244);
}