@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Gothic", Sans-Serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

body {
  margin: 0;
  background-color: #da1b2b;
}

.nav {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.falkelogo {
  height: 40px;
}

.fsvfalke95 {
  font-size: 1.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: strech;
  padding: 0.25rem;
}

.nav li {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.nav li.active {
  background-color: #1f1f1f;
}

.nav li:hover {
  background-color: #da1b2b;
}

.ElfsightWidget {
  margin: 3;
}

.App {
  text-align: center;
}

.container {
  border: solid 1px yellow;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------------------------------------NEWS---------------------------------------*/

.articles {
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

.articles p {
  font-size: 1.5rem;
  text-align: center;
}

.articles a {
  text-decoration: none;
  color: #000000;
}

.articleimage {
  background: #ebebeb;
  width: 70%;
  margin: 1rem auto;
}

.articleimage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*--------------------------------------TEAMS----------------------------------------------*/

.teamfoto {
}

.widgetspielplan {
}
.teamimage {
}

/*LOADER*/

.loader-container {
  margin: 0 auto;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  width: 5vw;
  height: 5vw;
  /* add keyframes */
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*HOME*/

.latest-news-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  /* flex-wrap: wrap; */
  /* border: solid 1px yellow; */
}

.latest-news-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 40vh;
  border-radius: 2px;
  font-size: 1.2rem;
  margin: 1rem;
  /* padding: 1rem; */
  text-align: center;
  background: #ebebeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.latest-news-card > a {
  text-decoration: none;
  color: #000000;
  margin-top: 1rem;
}
.latest-news-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
