* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: League Gothic;
}

body {
  margin: 0;

}


.nav {
  background-color: #1F1F1F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.falkelogo {
  height: 40px;
}

.fsvfalke95 {
  font-size: 1.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: strech;
  padding: .25rem;
}

.nav li.active {
  background-color: #1F1F1F;
}

.nav li:hover {
  background-color: #DA1B2B;
}

.ElfsightWidget {
  margin: 3;
}

.App {
  text-align: center;
}